.main-content__list {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}
.main-content__button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: $h1-h2-h3-color;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $buttons-bg-color;
    background-color: $hover-color;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.64);
  }
}
.main-content__item {
  text-align: center;
  list-style: none;
  background: $buttons-bg-color;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
