.our-team-section {
  background: $buttons-bg-color;
}
.our-team-section--position {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-section__heading {
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: $h1-h2-h3-color;
}
